$gradient-start: #50aaff;
$gradient-end: #2495ff;
$text-color: #414141;
$gray-color: #f4f4f4;
$border-color: rgb(159, 185, 205);
$font-family: "Roboto Flex", sans-serif;
$font-family-heading: "Poppins", sans-serif;
$font-weight-heading: 600;

$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.3rem;
$font-size-header: 1.4rem;
