$gradient-start: #50AAFF;
$gradient-end: #2495FF;
$text-color: #414141;
$gray-color: #F4F4F4;
$border-color: gray;
$font-family: 'Roboto Flex', sans-serif;
$font-family-heading: 'Poppins', sans-serif;
$font-weight-heading: 600;
