@import './variables';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9F9F9;
  padding: 30px;
  border: transparent;
  border-radius: 10px;
  width: 25rem;
}

.password-container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.password-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-size: $font-size-small;
}

.already-have-account {
  font-size: $font-size-small; 
  text-align: center;
  margin-top: 10px;
}

.already-have-account a {
  text-decoration: none;
}

.already-have-account a:hover {
  text-decoration: underline;
}

.info-text {
  color: $border-color;
  text-align: center;
  width: 65%;
  margin: 0;
  font-size: $font-size-small;
}

.password-text {
  color: $border-color;
  text-align: center;
  width: 80%;
  margin: 0;
  font-size: $font-size-small;
}

h2 {
  color: $text-color;
  text-align: center;
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
  font-size: $font-size-header;
}

input {
  margin: 15px 0;
  padding: 10px;
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 4px;
  width: 45%;
  font-size: $font-size-small;
}

button {
  padding: 10px 20px;
  background: linear-gradient(to bottom, $gradient-start, $gradient-end);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 40%;
  margin-top: 5px;
  font-size: $font-size-small;
}

button:hover {
  background: linear-gradient(to bottom, $gradient-end, $gradient-start);
}

* {
  font-family: $font-family;
}