@import './variables';

.main-container {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  padding-top: 0;
  overflow-y: auto;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  padding-top: 18px;
  padding-bottom: 26px;
}

.header h1 {
  color: black;
  font-size: $font-size-header;
  font-weight: 500;
  margin: 0;
}

.add-meeting-button {
  position: relative;
  margin-left: 12px;
  padding: 8px 14px;
  background: linear-gradient(to bottom, $gradient-start, $gradient-end);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: $font-size-small;
}

.add-meeting-button:hover {
  background: linear-gradient(to bottom, $gradient-end, $gradient-start);
}

.add-icon {
  margin-left: 80px;
  margin-bottom: -4px;
}

.account-info {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.account-circle {
  width: 26px;
  height: 26px;
  background: linear-gradient(to bottom, $gradient-start, $gradient-end);
  border: 2px solid $border-color;
  border-radius: 50%;
  margin-right: 10px;
}

.account-email {
  color: $text-color;
  font-size: $font-size-small;
}

.meeting-header {
  display: flex;
  justify-content: space-between;
  background-color: $gray-color;
  padding: 10px;
  padding-left: 15px;
  padding-right: 0;
  border-radius: 4px;
  margin-bottom: 10px;
  position: sticky;
  top: 60px;
  z-index: 11;
}

.meeting-header span {
  flex: 1;
  text-align: left;
  color: $text-color;
  font-weight: 500;
  font-size: $font-size-small;
}

.meeting-list {
  display: flex;
  flex-direction: column;
}

.meeting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  padding-left: 15px;
  padding-bottom: 10px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.meeting-item:hover {
  background-color: $gray-color;
}

.meeting-item span {
  flex: 1;
  text-align: left;
  color: #9D9D9D;
  font-size: $font-size-small;
}

.status,
.length,
.source {
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  width: auto;
  text-align: center;
}

.status.new {
  background-color: rgba(53, 255, 114, 0.22);
  color: rgba(53, 255, 114, 1);
}

.status.old {
  background-color: rgba(255, 53, 56, 0.22);
  color: rgba(255, 53, 56, 1);
}

.length,
.source {
  background-color: rgba(238, 238, 238, 1);
  color: black;
  font-weight: 400;
}

.source-icon {
  width: $font-size-medium;
  height: auto;
  margin-right: 2px;
  vertical-align: middle;
}

.delete-icon {
  width: $font-size-medium;
  height: auto;
  position: absolute;
  right: 10px;
  display: none;
  opacity: 0.4;
}

.meeting-item:hover .delete-icon {
  display: block;
  cursor: pointer;
}

.delete-icon:hover {
  display: block;
  transform: scale(1.1);
  cursor: pointer;
}

.delete-icon:active {
  opacity: 1;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.popup-content {
  background: white;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  min-height: 140px;
  max-width: 400px;
}

.popup-content p {
  margin-bottom: 20px;
}

.popup-title {
  font-size: $font-size-large;
  color: black;
  margin: 0;
}

.popup-subtext {
  font-size: $font-size-small;
  color: gray;
  margin-bottom: 20px;
  text-align: center;
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.confirm-button {
  padding: 10px 20px;
  background: linear-gradient(to bottom, $gradient-start, $gradient-end);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.confirm-button:hover {
  background: linear-gradient(to bottom, $gradient-end, $gradient-start);
}

.cancel-button {
  padding: 10px 20px;
  background: $gray-color;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-button:hover {
  background: darken($gray-color, 10%);
}

.upload-popup {
  padding: 0;
  width: 30vw; 
  max-width: 90vw;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-bottom: 1px solid $gray-color;
}

.popup-header span {
  color: $text-color;
  font-size: $font-size-medium;
  font-weight: 500;
}

.close-button {
  color: $text-color;
  background: none;
  border: none;
  font-size: $font-size-large;
  cursor: pointer;
}

.upload-body {
  padding: 25px;
  width: calc(100% - 50px); 
}

.drop-area {
  border: 2px dashed $gray-color;
  border-radius: 6px;
  padding: 40px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  cursor: pointer;
  min-height: 120px;
  min-width: 100%; // Минимальная ширина
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; // Важно для правильного расчета размеров

  p {
    margin: 0;
    color: $text-color;
    width: 100%; // Полная ширина для текста
  }

  span {
    color: $gradient-start;
    text-decoration: underline;
    font-size: $font-size-medium;
  }

  .drop-describe {
    font-size: $font-size-small;
    color: gray;
    margin-top: 10px;
  }

  &:hover {
    border-color: $gradient-start;
    background-color: rgba(53, 170, 255, 0.1);
  }
}
.meeting-name {
  margin-bottom: 20px;
  text-align: left;
}

.meeting-name label {
  display: block;
  margin-bottom: 5px;
  color: $text-color;
  font-size: $font-size-small;
}

.meeting-name input {
  width: 95%;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 6px;
}

.popup-footer {
  background: $gray-color;
  padding: 15px 25px;
  border-top: 1px solid darken($gray-color, 10%);
  text-align: right;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.upload-button {
  padding: 10px 20px;
  background: linear-gradient(to bottom, $gradient-start, $gradient-end);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.upload-button:hover {
  background: linear-gradient(to bottom, $gradient-end, $gradient-start);
}

.selected-file {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%; 
  
  .folder-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0; 
  }
  
  span {
    color: $text-color;
    font-size: $font-size-small;
    word-break: break-all;
  }
}

.upload-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  
  &:hover {
    background: linear-gradient(to bottom, $gradient-start, $gradient-end);
  }
}


* {
  font-family: $font-family;
}

body {
  margin: 0;
  padding: 0;
}