@import "./variables";

.sidebar {
  width: 250px;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 17px;
}

.logo-box {
  width: 26px;
  height: 26px;
  background: linear-gradient(to bottom, $gradient-start, $gradient-end);
  border: 2px solid $border-color;
  border-radius: 6px;
  box-sizing: border-box;
  margin-right: 5px;
}

.logo h1 {
  font-size: $font-size-header;
  color: black;
  margin: 0;
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
}

.logo-button {
  font-size: $font-size-header;
  color: black;
  margin: 0;
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
  background: none;
  border: none;
  cursor: pointer;
}

.logo-button:hover {
  text-decoration: underline;
}

.menu {
  width: 100%;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.menu img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.menu a {
  display: flex;
  align-items: center;
  color: $text-color;
  text-decoration: none;
  font-size: $font-size-small;
  width: calc(100% + 16px);
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: -8px;
  margin-right: -8px;
  border-radius: 4px;
}

.menu a:hover {
  color: black;
  background-color: $gray-color;
  box-shadow: 0 0 0 4px $gray-color;
}

.menu a:active {
  color: black;
  background-color: #f0f0f0;
}
