fastapi
uvicorn
torch
requests
pyannote.audio
torchvision
torchtext
llama-cpp-python
python-dotenv
python-multipart
pydub
python-magic
numpy
sqlalchemy
pymysql
databases 
passlib 
cryptography
pycryptodome
bcrypt
jwt
python-jose